<header>
  <app-campus-header
    [currentCampus]="currentCampus"
  ></app-campus-header>
</header>
<section class="content">
  <app-menu
    [campuses]="campuses"
    [currentCampus]="currentCampus"
    [currentFloors]="floors"
    [currentFloorIndex]="floors.indexOf(currentFloor)"
    [showSettings]="true"
    (changePersonnel)="changePersonnel($event)"
  ></app-menu>
  <!--<div class='social-container'>-->
  <!--<span>-->
  <!--<a class='social-roll github' href='#'></a>-->
  <!--</span>-->
  <!--<span>-->
  <!--<a class='social-roll twitter' href='#'></a>-->
  <!--</span>-->
  <!--<span>-->
  <!--<a class='social-roll linkedin' href='#'></a>-->
  <!--</span>-->
  <!--<span>-->
  <!--<a class='social-roll rss' href='#'></a>-->
  <!--</span>-->
  <!--</div>-->
  <section class="room-list">
    <app-room-list-item
      *ngFor="let room of currentRooms"
      [room]="room"
      [isPersonnel]="isPersonnel"
    ></app-room-list-item>
  </section>
</section>
