<header>
  <app-campus-header
    [isNormalHeader]="true"
  ></app-campus-header>
</header>
<section class="content">
  <app-menu
    [campuses]="campuses"
    [hideSettings]="true"
  ></app-menu>
  <section class="about-content">
    <h2 class="about-title">About</h2>
    <p class="about-desc">
      This Angular webapp is an exam project for User Interfaces 3. It is used to manage rooms on multiple floors and
      campuses. A normal user can view rooms on both a list layout and floor plan layout. Campus personnel can edit the
      rooms, change their type, capacity, reservation, crowdedness, ...
    </p>
    <p class="about-desc">
      This project was made using Angular 7 and Google Cloud Firestore and written in Typescript.
    </p>
  </section>
</section>
