a {
  text-decoration: none;
  color: #393939; }

nav {
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%; }
  nav input {
    display: none; }
  nav label {
    margin: 0; }
  nav div.nav-container {
    display: table-row; }
    nav div.nav-container > div {
      display: table-cell; }
    nav div.nav-container > div:nth-of-type(5n+1) .slide, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) a {
      border-color: #8cc63f; }
    nav div.nav-container > div:nth-of-type(5n+1) .slide:hover, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) a:hover {
      color: #567b24; }
    nav div.nav-container > div:nth-of-type(5n+1) .slide ~ .child-menu, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) a ~ .child-menu {
      background-color: #a4d266; }
    nav div.nav-container > div:nth-of-type(5n+1) input:checked ~ label, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) .slide.active ~ label {
      color: #8cc63f; }
    nav div.nav-container > div:nth-of-type(5n+2) .slide, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) a {
      border-color: #ef3724; }
    nav div.nav-container > div:nth-of-type(5n+2) .slide ~ .child-menu, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) a ~ .child-menu {
      background-color: #f26254; }
    nav div.nav-container > div:nth-of-type(5n+2) .slide:hover, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) a:hover {
      color: #a11a0c; }
    nav div.nav-container > div:nth-of-type(5n+2) input:checked ~ label, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) .slide.active ~ label {
      color: #ef3724; }
    nav div.nav-container > div:nth-of-type(5n+3) .slide, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) a {
      border-color: #ffa61a; }
    nav div.nav-container > div:nth-of-type(5n+3) .slide:hover, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) a:hover {
      color: #b36d00; }
    nav div.nav-container > div:nth-of-type(5n+3) .slide ~ .child-menu, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) a ~ .child-menu {
      background-color: #ffba4d; }
    nav div.nav-container > div:nth-of-type(5n+3) input:checked ~ label, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) .slide.active ~ label {
      color: #ffa61a; }
    nav div.nav-container > div:nth-of-type(5n+4) .slide, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) a {
      border-color: #1ab1ff; }
    nav div.nav-container > div:nth-of-type(5n+4) .slide:hover, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) a:hover {
      color: #0076b3; }
    nav div.nav-container > div:nth-of-type(5n+4) .slide ~ .child-menu, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) a ~ .child-menu {
      background-color: #4dc2ff; }
    nav div.nav-container > div:nth-of-type(5n+4) input:checked ~ label, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) .slide.active ~ label {
      color: #1ab1ff; }
    nav div.nav-container > div:nth-of-type(5n+5) .slide, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) a {
      border-color: #FC1DCF; }
    nav div.nav-container > div:nth-of-type(5n+5) .slide:hover, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) a:hover {
      color: #b1028d; }
    nav div.nav-container > div:nth-of-type(5n+5) .slide ~ .child-menu, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) a ~ .child-menu {
      background-color: #fd4fda; }
    nav div.nav-container > div:nth-of-type(5n+5) input:checked ~ label, nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) .slide.active ~ label {
      color: #FC1DCF; }
  nav a, nav label {
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  nav .slide {
    padding: 10px 10px;
    font-size: 1em;
    display: block;
    color: #393939;
    border-top: 4px solid transparent;
    position: relative;
    -moz-transition-property: border-width, color;
    -o-transition-property: border-width, color;
    -webkit-transition-property: border-width, color;
    transition-property: border-width, color;
    -moz-transition-duration: 0.1s, 0.2s;
    -o-transition-duration: 0.1s, 0.2s;
    -webkit-transition-duration: 0.1s, 0.2s;
    transition-duration: 0.1s, 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -moz-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s; }
    nav .slide .element {
      font-size: 1.25em;
      font-weight: 600;
      font-style: normal;
      display: block;
      line-height: 1; }
    nav .slide .name {
      font-size: 0.6875em;
      position: relative; }
  nav .has-child .name:after {
    content: "";
    width: 10px;
    height: 4px;
    display: block;
    position: absolute;
    bottom: -9px;
    left: 1px;
    background-repeat: no-repeat;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  nav .child-menu {
    display: block;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    background-color: #393939;
    width: 100%;
    top: 65px;
    left: 0;
    z-index: 5;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
    nav .child-menu a {
      color: white;
      display: inline-block;
      padding: 15px 30px 15px 10px;
      font-size: 0.9375em; }
  nav input:hover ~ .child-menu {
    max-height: 200px;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  nav input:hover ~ .has-child .name:after {
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  nav .child-menu:hover {
    max-height: 200px;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

.mdi:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center; }

.side-panel {
  position: fixed;
  padding: 30px 0; }
  .side-panel ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .side-panel > ul > li a {
    width: 100%;
    padding-bottom: 13px; }
  .side-panel > ul ul {
    width: 200px;
    padding-left: 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%; }
    .side-panel > ul ul li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-right-color: #efefef; }
      .side-panel > ul ul li:first-child:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #efefef;
        border-right-color: inherit; }
      .side-panel > ul ul li:first-child:hover {
        border-right-color: #fff; }
    .side-panel > ul ul li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
  .side-panel li {
    position: relative;
    background: #efefef; }
    .side-panel li:hover {
      background: #fff; }
      .side-panel li:hover > ul {
        display: block; }
  .side-panel a {
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer; }
  .side-panel > ul {
    width: 150px;
    transform: translateX(-110px); }
  .side-panel .mdi {
    display: inline-block;
    position: relative;
    left: 105px; }
  .side-panel .menu-item {
    padding: 8px 13px;
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: -1;
    background: #efefef;
    border-radius: 3px;
    border-right-color: #efefef;
    color: #393939;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translate(-100%, -50%) translateZ(0);
    transition: all .3s ease-in-out; }
  .side-panel .menu-item:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #efefef;
    border-right-color: inherit; }
  .side-panel li:hover .menu-item {
    cursor: default;
    transform: translate(10px, -50%); }
  .side-panel > ul ul {
    display: block;
    opacity: 0;
    transform: translate(-100%);
    transition: all .3s ease-in-out;
    z-index: -1; }
  .side-panel li:hover ul {
    opacity: 1;
    transform: translate(0); }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  backface-visibility: hidden;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888; }
  .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on); }
  .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off); }
  .tgl-skewed + .tgl-btn:active {
    background: #888; }
    .tgl-skewed + .tgl-btn:active:before {
      left: -10%; }
.tgl-skewed:checked + .tgl-btn {
  background: #86d993; }
  .tgl-skewed:checked + .tgl-btn:before {
    left: -100%; }
  .tgl-skewed:checked + .tgl-btn:after {
    left: 0; }
  .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%; }

@media (min-width: 768px) {
  nav {
    width: unset; }
    nav div.nav-container {
      display: block; }
      nav div.nav-container > div {
        display: block;
        margin: 5px 0; }
      nav div.nav-container > div:hover .slide {
        border-left-width: 40px;
        transition-delay: 0ms; }
    nav .slide {
      display: block;
      width: auto;
      border-left: solid 4px #393939;
      border-top: none; }
      nav .slide .element {
        line-height: 1; }
    nav .child-menu {
      display: block;
      position: relative;
      top: 0;
      background-color: transparent !important;
      margin-left: 40px;
      width: auto;
      max-height: 0;
      overflow: hidden;
      border-top: none; }
      nav .child-menu a {
        color: #393939;
        display: block;
        padding: 3px 0 3px 10px;
        font-size: 0.8125em;
        white-space: nowrap; }
    nav input:checked ~ div.child-menu {
      max-height: 300px; }
    nav input:checked ~ .slide {
      border-width: 40px; } }

/*# sourceMappingURL=menu.component.css.map */
