<nav>
  <div class='nav-container'>
    <div>
      <input id='slider1' name='slider1' type='checkbox'>
      <label class='slide has-child' for='slider1'>
        <span class='element'>Ca</span>
        <span class='name'>Campus</span>
      </label>
      <div class='child-menu'>
        <a *ngFor="let campus of campuses;"
          [routerLink]="'/list/campus/' + campus.slugUrl + '/floor/0'">{{campus.name}}</a>
      </div>
    </div>
    <div>
      <input id='slider2' name='slider2' type='checkbox'>
      <label class='slide has-child' for='slider2'>
        <span class='element'>Fl</span>
        <span class='name'>Floor</span>
      </label>
      <div class='child-menu'>
        <a *ngFor="let floor of currentFloors"
          [routerLink]="['../',  floor.floorNumber]">Floor {{floor.floorNumber}}</a>
      </div>
    </div>
    <div>
      <input id='slider3' name='slider3' type='checkbox'>
      <label class='slide has-child' for='slider3'>
        <span class='element'>La</span>
        <span class='name'>Layout</span>
      </label>
      <div class='child-menu'>
        <a [routerLink]="['/list']">List</a>
        <a *ngIf="screenWidth > 768" [routerLink]="['/map']">Floorplan</a>
      </div>
    </div>
    <div>
      <a class='slide' href='#'>
        <span class='element'>Ab</span>
        <span class='name'>About</span>
      </a>
    </div>
    <div>
      <a class='slide' href='#'>
        <span class='element'>C</span>
        <span class='name'>Contact</span>
      </a>
    </div>
  </div>
</nav>
<!--https://codepen.io/MichaelArestad/pen/vbAxI-->
<div *ngIf="!hideSettings" class="side-panel a">
  <ul>
    <li [style.visibility]="currentFloorNumber < this.currentFloorNumbers.sort().reverse()[0] ? 'visible' : 'hidden'"><a [routerLink]="['../', currentFloorNumber + 1]"><i class="mdi mdi-arrow-up-drop-circle"></i><span class="menu-item">Floor up</span></a></li>
    <li [style.visibility]="currentFloorNumber > this.currentFloorNumbers.sort()[0] ? 'visible' : 'hidden'"><a [routerLink]="['../', currentFloorNumber - 1]"><i class="mdi mdi-arrow-down-drop-circle"></i><span class="menu-item">Floor down</span></a></li>
    <li>
      <a><i class="mdi mdi-tune"></i></a>
      <ul>
        <li><a>
          <input class="tgl tgl-skewed" id="cb1" type="checkbox" [ngModel]="showsAll" (ngModelChange)="onShowAll()"/>
          <label class="tgl-btn" data-tg-off="Hide all" data-tg-on="Show all" for="cb1"></label>
        </a></li>
        <li><a>
          <input class="tgl tgl-skewed" id="cb2" type="checkbox" [ngModel]="isPersonnel" (ngModelChange)="onChangePersonnel()"/>
          <label class="tgl-btn" data-tg-off="User" data-tg-on="Personnel" for="cb2"></label>
        </a></li>
        <li><a>
          <input class="tgl tgl-skewed" id="cb3" type="checkbox" [ngModel]="showsRoomName" (ngModelChange)="onShowRoomName()"/>
          <label class="tgl-btn" data-tg-off="Hide name" data-tg-on="Show name" for="cb3"></label>
        </a></li>
        <li><a>
          <input class="tgl tgl-skewed" id="cb4" type="checkbox" [ngModel]="showsRoomStatus" (ngModelChange)="onShowRoomStatus()"/>
          <label class="tgl-btn" data-tg-off="Hide status" data-tg-on="Show status" for="cb4"></label>
        </a></li>
        <li><a>
          <input class="tgl tgl-skewed" id="cb5" type="checkbox" [ngModel]="showsRoomType" (ngModelChange)="onShowRoomType()"/>
          <label class="tgl-btn" data-tg-off="Hide type" data-tg-on="Show type" for="cb5"></label>
        </a></li>
        <li><a>
          <input class="tgl tgl-skewed" id="cb6" type="checkbox" [ngModel]="showsRoomCapacity" (ngModelChange)="onShowRoomCapacity()"/>
          <label class="tgl-btn" data-tg-off="Hide capacity" data-tg-on="Show capacity" for="cb6"></label>
        </a></li>
        <li><a>
          <input class="tgl tgl-skewed" id="cb7" type="checkbox" [ngModel]="showsRoomBeamer" (ngModelChange)="onShowRoomBeamer()"/>
          <label class="tgl-btn" data-tg-off="Hide beamer" data-tg-on="Show beamer" for="cb7"></label>
        </a></li>
      </ul>
    </li>
  </ul>
</div>
