<nav>
  <div class='nav-container'>
    <div>
      <input id='slider1' name='slider1' type='checkbox'>
      <label class='slide has-child' for='slider1'>
        <span class='element'>Ca</span>
        <span class='name'>Campus</span>
      </label>
      <div class='child-menu'>
        <a *ngFor="let campus of campuses;"
          [routerLink]="'/list/campus/' + campus.slugUrl + '/floor/0'">{{campus.name}}</a>
      </div>
    </div>
    <div>
      <input id='slider2' name='slider2' type='checkbox'>
      <label class='slide has-child' for='slider2'>
        <span class='element'>Fl</span>
        <span class='name'>Floor</span>
      </label>
      <div class='child-menu'>
        <a *ngFor="let floor of currentFloors"
          [routerLink]="['../',  floor.floorNumber]">Floor {{floor.floorNumber}}</a> <!-- TODO: aanpassen naar floor numbers?-->
      </div>
    </div>
    <div>
      <input id='slider3' name='slider3' type='checkbox'>
      <label class='slide has-child' for='slider3'>
        <span class='element'>La</span>
        <span class='name'>Layout</span>
      </label>
      <div class='child-menu'>
        <a [routerLink]="['/list']">List</a> <!-- TODO: ngIf aanpassen?-->
        <a *ngIf="screenWidth > 768" [routerLink]="['/map']">Floorplan</a>
      </div>
    </div>
    <div>
      <a class='slide' href='#'>
        <span class='element'>Ab</span>
        <span class='name'>About</span>
      </a>
    </div>
    <div>
      <a class='slide' href='#'>
        <span class='element'>C</span>
        <span class='name'>Contact</span>
      </a>
    </div>
  </div>
</nav>
<!--https://codepen.io/MichaelArestad/pen/vbAxI-->
<div *ngIf="showSettings" class="side-panel a">
  <ul>
    <li [style.visibility]="currentFloorNumber < this.currentFloorNumbers.sort().reverse()[0] ? 'visible' : 'hidden'"><a [routerLink]="['../', currentFloorNumber + 1]"><i class="mdi mdi-arrow-up-drop-circle"></i><span class="menu-item">Floor up</span></a></li>
    <li [style.visibility]="currentFloorNumber > this.currentFloorNumbers.sort()[0] ? 'visible' : 'hidden'"><a [routerLink]="['../', currentFloorNumber - 1]"><i class="mdi mdi-arrow-down-drop-circle"></i><span class="menu-item">Floor down</span></a></li>
    <li>
      <a><i class="mdi mdi-tune"></i></a>
      <ul>
        <li><a>Edit</a>
        <li><a>
          <input class="tgl tgl-skewed" id="cb3" type="checkbox" [ngModel]="isPersonnel" (ngModelChange)="onChangePersonnel()"/>
          <label class="tgl-btn" data-tg-off="User" data-tg-on="Personnel" for="cb3"></label>
        </a></li>
        <li><a>Setting 3</a>
        <li><a>Setting 4</a>
      </ul>
    </li>
  </ul>
</div>
