:host {
  width: 100%;
  min-height: 100vh; }

a {
  text-decoration: none; }

.brand-container, nav {
  font-family: "Open Sans", sans-serif; }

.brand-container {
  font-family: "Raleway", "Open Sans", sans-serif;
  padding: 10px;
  background-color: #393939; }
  .brand-container a {
    color: white;
    display: inline-block;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  .brand-container a:hover {
    color: #8cc63f; }
  .brand-container .brand-initials {
    font-size: 3.0625em;
    font-weight: 700;
    font-style: normal;
    display: block; }
  .brand-container .brand-name {
    font-size: 0.8125em;
    text-indent: 3px;
    display: block; }

.content {
  display: block;
  width: 100%; }
  .content nav {
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%; }
    .content nav input {
      display: none; }
    .content nav label {
      margin: 0; }
    .content nav div.nav-container {
      display: table-row; }
      .content nav div.nav-container > div {
        display: table-cell; }
      .content nav div.nav-container > div:nth-of-type(5n+1) .slide, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) a {
        border-color: #8cc63f; }
      .content nav div.nav-container > div:nth-of-type(5n+1) .slide:hover, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) a:hover {
        color: #567b24; }
      .content nav div.nav-container > div:nth-of-type(5n+1) .slide ~ .child-menu, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) a ~ .child-menu {
        background-color: #a4d266; }
      .content nav div.nav-container > div:nth-of-type(5n+1) input:checked ~ label, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+1) .slide.active ~ label {
        color: #8cc63f; }
      .content nav div.nav-container > div:nth-of-type(5n+2) .slide, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) a {
        border-color: #ef3724; }
      .content nav div.nav-container > div:nth-of-type(5n+2) .slide ~ .child-menu, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) a ~ .child-menu {
        background-color: #f26254; }
      .content nav div.nav-container > div:nth-of-type(5n+2) .slide:hover, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) a:hover {
        color: #a11a0c; }
      .content nav div.nav-container > div:nth-of-type(5n+2) input:checked ~ label, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+2) .slide.active ~ label {
        color: #ef3724; }
      .content nav div.nav-container > div:nth-of-type(5n+3) .slide, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) a {
        border-color: #ffa61a; }
      .content nav div.nav-container > div:nth-of-type(5n+3) .slide:hover, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) a:hover {
        color: #b36d00; }
      .content nav div.nav-container > div:nth-of-type(5n+3) .slide ~ .child-menu, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) a ~ .child-menu {
        background-color: #ffba4d; }
      .content nav div.nav-container > div:nth-of-type(5n+3) input:checked ~ label, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+3) .slide.active ~ label {
        color: #ffa61a; }
      .content nav div.nav-container > div:nth-of-type(5n+4) .slide, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) a {
        border-color: #1ab1ff; }
      .content nav div.nav-container > div:nth-of-type(5n+4) .slide:hover, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) a:hover {
        color: #0076b3; }
      .content nav div.nav-container > div:nth-of-type(5n+4) .slide ~ .child-menu, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) a ~ .child-menu {
        background-color: #4dc2ff; }
      .content nav div.nav-container > div:nth-of-type(5n+4) input:checked ~ label, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+4) .slide.active ~ label {
        color: #1ab1ff; }
      .content nav div.nav-container > div:nth-of-type(5n+5) .slide, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) a {
        border-color: #FC1DCF; }
      .content nav div.nav-container > div:nth-of-type(5n+5) .slide:hover, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) a:hover {
        color: #b1028d; }
      .content nav div.nav-container > div:nth-of-type(5n+5) .slide ~ .child-menu, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) a ~ .child-menu {
        background-color: #fd4fda; }
      .content nav div.nav-container > div:nth-of-type(5n+5) input:checked ~ label, .content nav div.nav-container nav div.nav-container > div:nth-of-type(5n+5) .slide.active ~ label {
        color: #FC1DCF; }
    .content nav a, .content nav label {
      -moz-transition-property: color;
      -o-transition-property: color;
      -webkit-transition-property: color;
      transition-property: color;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
    .content nav .slide {
      padding: 10px 10px;
      font-size: 1em;
      display: block;
      color: #393939;
      border-top: 4px solid transparent;
      position: relative;
      -moz-transition-property: border-width, color;
      -o-transition-property: border-width, color;
      -webkit-transition-property: border-width, color;
      transition-property: border-width, color;
      -moz-transition-duration: 0.1s, 0.2s;
      -o-transition-duration: 0.1s, 0.2s;
      -webkit-transition-duration: 0.1s, 0.2s;
      transition-duration: 0.1s, 0.2s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -moz-transition-delay: 0.2s, 0s;
      -o-transition-delay: 0.2s, 0s;
      -webkit-transition-delay: 0.2s, 0s;
      transition-delay: 0.2s, 0s; }
      .content nav .slide .element {
        font-size: 1.25em;
        font-weight: 600;
        font-style: normal;
        display: block;
        line-height: 1; }
      .content nav .slide .name {
        font-size: 0.6875em;
        position: relative; }
    .content nav .has-child .name:after {
      content: "";
      width: 10px;
      height: 4px;
      display: block;
      position: absolute;
      bottom: -9px;
      left: 1px;
      background-repeat: no-repeat;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      -webkit-transition-property: -webkit-transform;
      transition-property: transform;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    .content nav .child-menu {
      display: block;
      position: absolute;
      max-height: 0;
      overflow: hidden;
      background-color: #393939;
      width: 100%;
      top: 65px;
      left: 0;
      z-index: 5000;
      -moz-transition-property: max-height;
      -o-transition-property: max-height;
      -webkit-transition-property: max-height;
      transition-property: max-height;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      .content nav .child-menu a {
        color: white;
        display: inline-block;
        padding: 15px 30px 15px 10px;
        font-size: 0.9375em; }
    .content nav input:hover ~ .child-menu {
      max-height: 100px;
      -moz-transition-property: max-height;
      -o-transition-property: max-height;
      -webkit-transition-property: max-height;
      transition-property: max-height;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
    .content nav input:hover ~ .has-child .name:after {
      -moz-transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }
    .content nav .child-menu:hover {
      max-height: 100px;
      -moz-transition-property: max-height;
      -o-transition-property: max-height;
      -webkit-transition-property: max-height;
      transition-property: max-height;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
  .content .application {
    width: 100%; }

@media (min-width: 768px) {
  .brand-container {
    padding: 10px 10px 25px 10px;
    width: 100%; }
    .brand-container a {
      display: block; }

  .content {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .content nav {
      width: unset; }
      .content nav div.nav-container {
        display: block; }
        .content nav div.nav-container > div {
          display: block;
          margin: 5px 0; }
        .content nav div.nav-container > div:hover .slide {
          border-left-width: 55px;
          transition-delay: 0ms; }
      .content nav .slide {
        display: block;
        width: auto;
        border-left: solid 4px #393939;
        border-top: none; }
        .content nav .slide .element {
          line-height: 1; }
      .content nav .child-menu {
        display: block;
        position: relative;
        top: 0;
        background-color: transparent !important;
        margin-left: 55px;
        width: auto;
        max-height: 0;
        overflow: hidden;
        border-top: none; }
        .content nav .child-menu a {
          color: #393939;
          display: block;
          padding: 3px 0 3px 10px;
          font-size: 0.8125em; }
      .content nav input:checked ~ div.child-menu {
        max-height: 120px; }
      .content nav input:checked ~ .slide {
        border-width: 55px; } }

/*# sourceMappingURL=app.component.css.map */
