<header>
  <app-campus-header
    [currentCampus]="currentCampus"
  ></app-campus-header>
</header>
<section class="content">
  <app-menu
    [campuses]="campuses"
    [currentCampus]="currentCampus"
    [currentFloors]="floors"
    [currentFloorNumbers]="floorNumbers"
    [currentFloorNumber]="currentFloor.floorNumber"
    (changePersonnel)="changePersonnel($event)"
    (showRoomName)="changeRoomName($event)"
    (showRoomStatus)="changeRoomStatus($event)"
    (showRoomType)="changeRoomType($event)"
    (showRoomCapacity)="changeRoomCapacity($event)"
    (showRoomBeamer)="changeRoomBeamer($event)"
  ></app-menu>
  <section class="room-list" *ngIf="isListLayout">
    <app-room-list-item
      *ngFor="let room of currentRooms"
      [room]="room"
      [isPersonnel]="isPersonnel"
      [showsRoomName]="showsRoomName"
      [showsRoomStatus]="showsRoomStatus"
      [showsRoomType]="showsRoomType"
      [showsRoomCapacity]="showsRoomCapacity"
      [showsRoomBeamer]="showsRoomBeamer"
      [showsDetails]="showsDetails"
      (hideOtherRoomClicks)="hideOtherRoomClicks()"
    ></app-room-list-item>
  </section>
  <section class="room-grid" *ngIf="!isListLayout" [style.grid-template-columns]="colStyle">
    <app-room-map-item
      *ngFor="let room of currentRooms"
      [style.grid-column-start]="room.x"
      [style.grid-column-end]="'span ' + room.width"
      [style.grid-row-start]="room.y"
      [style.grid-row-end]="'span ' + room.height"
      [room]="room"
      [isPersonnel]="isPersonnel"
      [showsRoomName]="showsRoomName"
      [showsRoomStatus]="showsRoomStatus"
      [showsRoomType]="showsRoomType"
      [showsRoomCapacity]="showsRoomCapacity"
      [showsRoomBeamer]="showsRoomBeamer"
      [showsDetails]="showsDetails"
      (hideOtherRoomClicks)="hideOtherRoomClicks()"
    ></app-room-map-item>
  </section>
</section>
